.page_criar_ponto {
  padding: 0 60px;
  padding-bottom: 60px;
}

.point_title {
  color: #1E1E1E;
  padding-top: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 60px;
}

#point_title {
  padding-top: 90px;
}

.input_box_point {
  display: flex;
  gap: 8px;
  width: 100%;
}

.icon_input {
  display: flex;
  gap: 8px;
  flex: 1 1 0%;
  border-bottom: #1E1E1E 2px solid;
  padding-bottom: 16px;
  transition: 0.3s;
}

.icon_input:focus-within {
  border-bottom: #0033B8 2px solid;
}

.icon_input input {
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
}

.magnifying_glass_icon {
  margin-right: 3px;
}

.button_point {
  background: #f3eb55;
  color: #1E1E1E;
  border-radius: 30px;
  font-weight: 600;
  line-height: 24px;
  border: 0;
  cursor: pointer;
  text-align: center;
  height: 40px;
  padding: 0 20px;
}

.point_list {
  background: #fff;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  border: #0033B8 2px solid;
  margin-top: 32px;
}

@media screen and (max-width: 640px) {
  .input_box_point {
    flex-direction: column;
  }
}