.point_list {
  background: #fff;
  width: 1110px;
  height: 550px;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  border: #0033B8 2px solid;
  margin: 60px 0 0 90px;
}

.point {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #555555;
}

.address p {
  text-align: center;
  color: #1E1E1E;
  padding: 35px 24px 0 0;
}

.avaiableCount {
  min-width: 168px;
  border-right: 1px solid #555555;
  border-left: 1px solid #555555;
  padding: 5px 24px;
}

.avaiableCount h5 {
  color: #1E1E1E;
}

.avaiableCount p {
  color: #555555;
}

.Size {
  padding: 5px 24px;
}

.Size h5 {
  color: #1E1E1E;
}

.Size label {
  color: #555555;
}

.button_bike_add {
  border-right: 1px solid #555555;
  padding: 0 24px;
}

.add_bike {
  width: 169px;
  height: 40px;
  background: #f3eb55;
  color: #1E1E1E;
  margin: 29px 0;
  border-radius: 30px;
  font-weight: 600;
  line-height: 24px;
  border: 0;
  cursor: pointer;
  text-align: center;

}

.button_bike_edit {
  padding: 0 24px;
}

.edit_bike {
  background: #f3eb55;
  color: #1E1E1E;
  margin: 29px 0;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  line-height: 18px;
  width: 110px;
  height: 40px;
}

.button_bike_remove {
  padding-right: 24px;
}

.remove_bike {
  background: #CF2D2D;
  color: #FCFFFC;
  margin: 29px 0;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  line-height: 18px;
  width: 110px;
  height: 40px;
}