.point_list {
  background: #fff;
  width: 950px;
  height: 550px;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  border: #0033B8 2px solid;
  margin-top: 60px;
  margin-left: 90px;
}

.point {
  display: flex;
  flex-direction: row;
}

.address p {
  width: 100%;
  border-right: 1px solid black;
  padding-right: 8px;
}

.avaiableCount {
  padding-left: 15px;
  border-right: 1px solid black;
  padding-right: 8px;
}

.button_bike {
  border-right: 1px solid black;
}

.add_bike {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f3eb55;
  color: #1E1E1E;
  padding: 8px 30px;
  margin: 29px 0;
  border-radius: 30px;
  font-weight: 600;
  line-height: 24px;
  border: 0;
  cursor: pointer;
  text-align: center;
}

.edit_bike {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f3eb55;
  color: #1E1E1E;
  padding: 8px 30px;
  margin: 29px 0;
  border-radius: 30px;
  font-weight: 600;
  line-height: 24px;
  border: 0;
  cursor: pointer;
  text-align: center;
}

.remove_bike {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #CF2D2D;
  color: #FCFFFC;
  padding: 8px 30px;
  margin: 29px 0;
  border-radius: 30px;
  font-weight: 400;
  line-height: 24px;
  border: 0;
  cursor: pointer;
  text-align: center;
}